<div class="w-full md:w-2/3 max-w-3xl flex justify-between mb-6">
  <div class="text-dullGold underline underline-offset-8 decoration-gold">
    <%= link_to t(".profile"), profile_path %>
  </div>
  <div class="text-dullGold underline underline-offset-8 decoration-gold">
    <%= link_to t(".my_reviews"), my_reviews_profile_path %>
  </div>
  <div class="text-dullGold underline underline-offset-8 decoration-gold">
    <%= link_to t(".my_likes"), my_likes_profile_path %>
  </div>
  <div class="text-dullGold underline underline-offset-8 decoration-gold">
    <%= link_to t(".notifications"), "" %>
  </div>
</div>