<div class="max-w-6xl mx-auto px-4 py-8 flex flex-col md:flex-row gap-8 mt-10 justify-center">
  <div class="w-full md:w-2/3 bg-darkBlue p-6 rounded-md">
    <div class="rounded-md flex flex-col">
      <div class="border-b border-dullGold mb-4">
        <div class="flex items-center mb-4">
          <div class="flex justify-center my-3 min-w-fit">
            <div>
              <% if comment.user.avatar.attached? %>
                <%= image_tag comment.user.avatar, class: "w-[32px] h-[32px] border border-gray-300 rounded-full" %>
              <% else %>
                <i class="fa-solid fa-circle-user fa-2x" style="color: #e0e0e0;"></i>
              <% end %>
            </div>
            <div class="text-lightGray text-center flex items-center ml-2">
              <%= comment.user.name %>
            </div>
          </div>

          <%# MVPリリース時にコメント削除機能を実装 %>
          <!--
          <div class="flex justify-end w-full">
            <% if current_user.own?(comment) %>
              <%= link_to "#", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
                <i class="fa-solid fa-trash-can text-dullGold fa-xl"></i>
              <% end %>
            <% end %>
          </div>
          -->
        </div>
      </div>

      <div>
        <!-- simple_formatで改行を反映させる -->
        <%= simple_format comment.content, class: "text-lightGray text-sm leading-relaxed font-text" %>
      </div>
    </div>
  </div>
</div>